@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400|Open+Sans:400italic,700italic,400,700);

html {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif, arial;
}

h1,
h2,
h3 {
	font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, arial;
	font-weight: lighter;
}

a {
	color: #337ab7;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px dotted;
}

p {
	margin-bottom: 10px;
}
